---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="404 - Pagina No Encontrada">
  <div class="container text-center flex-1 grid place-content-center min-h-[600px]">
    <h1 class="text-5xl md:text-8xl font-bold text-primary-700 mb-4">404 - Pagina No Encontrada</h1>
    <p>Lo sentimos, la página que buscas no existe.</p>
  </div>
</Layout>
