<div class="NoticiasBox1_Dep6">
  <h1>Destacada participación de UNICOC en el Torneo Distrital ASCUN</h1>

  El pasado domingo 20 de octubre, nuestra Institución participó en el Torneo Distrital de ASCUN, el evento deportivo
  universitario más destacados de Bogotá y Colombia, donde se determinan los mejores talentos universitarios de la
  regió...

  <article>
    <i class="fa fa-map-marker" aria-hidden="true"></i>Otros | 29 Oct 2024
  </article>
  <a href="noticias-unicoc.aspx?nid=10766" tabindex="-1">Ver más <i class="fa fa-arrow-right" aria-hidden="true"></i></a
  >
</div>
